@import '~styles/settings';

.c-dropdown {
  position: absolute;
  top: 0;
  right: 0;

  .dd-header {
    height: 24px;
    width: 90px;
    border: 1px solid black;
  }

  .dd-list-item {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 24px;

      &:hover {
        background-color: darken($color-background, 10%);
      }
    }
  }
}