@import '~styles/settings';

$species-list-width: 330px;

.container {
  display: flex;
  // TODO: use layout.scss (l-page) instead of modules
  height: calc(100vh - 70px);
  position: relative;
}

.content {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-black;
  position: absolute;
  width: calc(100% - #{$species-list-width});
  right: 0;
  bottom: 0;
  height: 100%;
  transition: width 0.4s;
}

.contentStretched {
  width: 100%;
}

.speciesSidebar {
  height: 100%;
  background-color: $color-gray-1;
  display: flex;
  flex-direction: column;
  width: $species-list-width;
  font-style: italic;
  font-family: $font-family-2;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    height: $species-list-width;
    object-fit: cover;
    object-position: center;
    color: $color-white;
  }
}

.navBar {
  display: flex;
  //overflow-y: hidden;

  & > * {
    border-bottom: 1px solid $color-black;
  }
}

.toggleBarButton {
  background-color: $color-gray-1;
  flex-shrink: 0;
  width: 70px;

  svg {
    fill: $color-white;
  }
}

.expandBarButton svg {
  transform: rotate(180deg);
}

.downloadBtnContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 24px;
}
