@import '~styles/settings';

$species-list-width: 330px;

.container {
  display: flex;
  // TODO: use layout.scss (l-page) instead of modules
  height: calc(100vh - 70px);
  position: relative;
}

.content {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-black;
  position: absolute;
  width: calc(100% - #{$species-list-width});
  right: 0;
  bottom: 0;
  height: 100%;
  transition: width 0.4s;
}

.contentStretched {
  width: 100%;
}

.speciesSidebar {
  position: relative;
  height: 100%;
  background-color: $color-gray-1;
  display: flex;
  flex-direction: column;
  width: $species-list-width;
  font-style: italic;
  font-family: $font-family-2;
  border-right: 2px solid $color-dark-red;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    height: $species-list-width;
    object-fit: cover;
    object-position: center;
    color: $color-white;
  }
}

.imageBox {
  width: 100%;
  height: 330px;
  background-position: center;
  background-size: cover;
}

.navBar {
  display: flex;
  //overflow-y: hidden;

  & > * {
    border-bottom: 1px solid $color-black;
  }
}

.toggleBarButton {
  position: absolute;
  top: 0;
  left: -47px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 47px;
  border: 2px solid #941333;
  background-color: #941333;
  padding: 0;
  margin: 0;
  z-index: 1;

  svg {
    fill: $color-white;
    width: 9px;
    height: 16px;
  }
}

.expandBarButton {
  left: -1px;
  svg {
    transform: rotate(180deg);
  }
}

.downloadBtnContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 24px;
}
