@import '~styles/settings';

.c-menu {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 400px;
  top: 0;
  right: 0;
  background: $color-gray-1;
  color: $color-white;
  font-size: $font-size-big;
  padding-top: 80px;

  transform: translateX(400px);
  transition: transform 0.1s ease-in-out;

  &.-open {
    transform: translateX(0);
  }

  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .close-icon {
      fill: $color-white;
      margin-right: 16px;
    }
  }

  .menu-content {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    .menu-link {
      padding: 22px 24px;
      border-top: 1px solid $color-gray-2;
      font-size: $font-size-h3;
      line-height: 26px;

      &:last-child {
        border-bottom: 1px solid $color-gray-2;
      }

      .menu-link-content {
        padding: 32px 0 20px;
        font-family: $font-family-2;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .partners {
      margin-top: 80px;
      margin-left: 24px;
      font-family: $font-family-2;
      font-size: $font-size-default;
      color: #727272;

      .partner-logo {
        margin: 25px 0;

        img {
          width: 100px;
        }
      }
    }
  }
}
