@import '~styles/settings';

.tabsBar {
  display: flex;
  height: 70px;
}

.button {
  border-right: 1px solid $color-black;
  // border-bottom: 1px solid $color-black;
  min-width: 330px;
}

.buttonActive {
  .buttonText {
    background-color: $color-white;
  }
}

.buttonText {
  font-family: $font-family;
  font-size: $font-size-big;
  font-weight: bold;
  user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
