html,
body {
  &.-no-scroll,
  &.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  font-family: $font-family;
  font-size: $font-size-default;
  -webkit-font-smoothing: antialiased;

  margin: 0 auto;
  color: black;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.66666667em;
}

.page-content {
  position: relative;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 30px;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

:last-child {
  margin-bottom: 0;
}

[class]:last-child {
  margin-bottom: 0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

a {
  color: #941333;
  text-decoration: none;
  outline: 0;
  transition: all 0.2s ease;
  background: transparent;
}

img {
  border: 0;
  width: 100%;
  height: auto !important;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

input {
  border-radius: 0;
}





.menu--horiz {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu--horiz li {
  display: inline;
  margin-right: 18px;
}

.menu--horiz li a {
  color: black;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.nav__main {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (min-width: 700px) {
  .nav__main {
    text-align: right;
  }
}

.nav__main li {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid white;
  height: 10vh;
}

@media (min-width: 700px) {
  .nav__main li {
    padding-right: 36px;
    display: inline;
    border-bottom: 0;
    height: auto;
  }
}

@media (min-width: 980px) {
  .nav__main li {
    font-size: 22px;
  }
}

.nav__main li:last-child {
  padding-right: 0;
}

.nav__main li.menu-item--active-trail a {
  color: #941333;
  font-weight: 700;
}

.nav__main li a {
  position: relative;
  position: relative;
  color: white;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: -1px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.nav__main li a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: #941333;
  transition: all 0.3s ease 0s;
}

.nav__main li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.nav__main li a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: #941333;
  transition: all 0.3s ease 0s;
}

.nav__main li a:focus {
  outline: 0;
}

.nav__main li a:focus:after {
  width: 100%;
  left: 0;
  right: auto;
}

@media (min-width: 700px) {
  .nav__main li a {
    color: black;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: static;
    left: auto;
    transform: none;
    position: relative;
  }
}

.nav__section {
  padding: 0;
  margin-top: 0;
}

.nav__section li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}

.nav__section a {
  padding: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: black;
}

@media (min-width: 700px) {
  .nav__section a {
    padding: 0;
  }
}

.menu-item--active-trail > .nav__section a {
  color: #941333;
  font-weight: 700;
}

.nav__section a:hover, .nav__section a:focus {
  text-decoration: underline;
  outline: 0;
}

.nav__section a.is-active {
  color: #941333;
  font-weight: 700;
}

.nav__section ul {
  padding: 0;
}

.nav__section ul a {
  font-weight: 300;
  padding-left: 30px;
  display: inline-block;
}

@media (min-width: 980px) {
  .nav__sub-wrapper {
    right: -150px;
    position: relative;
  }
}

.nav__sub {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  column-count: 2;
  padding: 25px 0;
}

@media (min-width: 980px) {
  .nav__sub {
    text-align: right;
    float: right;
    color: #941333;
    column-count: unset;
    padding: 0;
    display: inline-table;
  }
}

.nav__sub li {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@media (min-width: 980px) {
  .nav__sub li {
    display: inline;
    padding-left: 9px;
  }
}

.nav__sub li.menu-item--active-trail a {
  color: #941333;
  font-weight: 700;
}

.nav__sub li a {
  color: white;
  position: relative;
  position: relative;
  font-size: 15px;
}

.nav__sub li a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: #941333;
  transition: all 0.3s ease 0s;
}

.nav__sub li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.nav__sub li a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: #941333;
  transition: all 0.3s ease 0s;
}

.nav__sub li a:focus {
  outline: 0;
}

.nav__sub li a:focus:after {
  width: 100%;
  left: 0;
  right: auto;
}

@media (min-width: 980px) {
  .nav__sub li a {
    color: black;
  }
}
