// Colors
$color-1: #ffcc00;

$color-sucess: #1ebe28;
$color-error: #fc4349;

$color-background: #edecea; // beige

$color-white: #ffffff;
$color-black: #000000;
$color-gray-1: #222222; // dark grey
$color-gray-2: #313131;
$color-gray-3: #5c5c5c; //grey
$color-gray-4: #999999; // light grey
$color-gray-5: #e6e6e6; // light grey

$color-social-twitter: #55acee;
$color-social-facebook: #3b5998;
$color-social-linkedin: #0077b5;
$color-social-pinterest: #bd081c;

$color-orange: #df5127;
$color-dark-orange: #d13c10; // onHover
$color-green: #033b31;
$color-mustard: #ffa018;
$color-violet: #7044ff;
$color-green-light: #50bf7c;
$color-pink: #e15383;
$color-desert-storm: #f4f4f3;
$color-dark-red: #df5127;
$color-border: #df5127;

// used in charts
:export {
  colorMustard: $color-mustard;
  colorViolet: $color-violet;
  colorPink: $color-pink;
  colorBlack: $color-black;
}

// Typography
$font-size-extra-small: 9px;
$font-size-small: 14px;
$font-size-default: 16px;
$font-size-medium: 18px;
$font-size-big: 20px;
$font-size-huge: 120px;
$font-size-14: 14px;
$font-size-20: 20px;

$font-size-h1: 46px;
$font-size-h2: 32px;
$font-size-h3: 22px;
$font-size-h4: 12px;
$font-size-h5: 9px;

// TODO: Get the NG font
$font-family: 'Anonymous Pro', monospace;
$font-family-2: 'IBM Plex Serif', serif;
$font-family-3: 'Open Sans', serif;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Assets
$ASSETS_URL: 'https://nationalgeographic.org/earth-pulse/assets';

// Space
$space-1: 8px;
$space-2: 12.5px;

// Paddings
$box-padding: 40px 30px;

// Sizes
$c-sidebar-width: 80px;
$c-header-height: 70px;
$c-header-padding: 24px;
$c-footer-height: 40px;

// Z-index
$z-index-1: 0;
$z-index-2: 1;
$z-index-3: 9;
$z-index-4: 10;
$z-index-5: 12;

// Times
$animation-time: 0.16s;
$animation-time-2: 0.24s;
$animation-time-3: 0.5s;
$animation-time-4: 0.75s;

// Eases
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Flexbox grid
$sm: 24rem;
$md: 48rem;
$lg: 62rem;
$xlg: 80rem;

$flexboxgrid-max-width: 1024px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1.5rem;
$flexboxgrid-outer-margin: 1.5rem;
$flexboxgrid-breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg
);
