@import '~styles/settings';

$button-width: 430px;
$button-height: 70px;

.c-home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - #{$c-header-height} - #{$c-footer-height});

  .wrapper {
    font-family: $font-family-2;
    color: $color-gray-1;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    margin: 64px auto;

    .section-title {
      font-size: 64px;
      font-weight: bold;
      line-height: 84px;
      margin-bottom: 44px;

      .title-color {
        color: $color-orange;
      }
    }

    .section-body {
      font-size: 18px;
      line-height: 26px;
      max-width: 700px;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    max-height: calc(100vh - #{$c-footer-height});
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    justify-content: center;

    img {
      position: relative;
      left: 250px;
      align-self: center;
    }
  }

  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $button-height;
    width: $button-width;
    // position: absolute;
    margin-top: 50px;
    bottom: 0;
    right: calc(50% - #{$button-width / 2});
    z-index: $z-index-4;
    cursor: pointer;
    // transition: all 0.5s ease;
    background: $color-orange;
    color: $color-white;
    font-size: $font-size-big;
    font-family: $font-family;
    font-weight: 700;
    line-height: 24px;

    &:hover {
      background: $color-dark-orange;
    }
  }
}

.fp-tableCell {
  display: flex !important;
  justify-content: center;
}
