@import '~styles/settings';

.c-bioclimatic {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .content {
    height: 100%;
    display: flex;

    & > * {
      flex: 1;
    }
  }

  .bioclimatic-chart {
    width: 100%;
    max-width: 50vw;
    height: 100%;
    background-color: $color-background;
    padding: 20px 50px;
  }

  .map-wrapper {
    position: relative;
    border-left: 1px solid $color-black;
  }
}
