@import '~styles/settings';

$navigation-button-size: 45px;

.mapNavigationButton {
  background-color: $color-white !important;
  height: $navigation-button-size !important;
  width: $navigation-button-size !important;

  &:hover {
    background-color: $color-white !important;
  }
}
