@import '~styles/settings';
@import '~styles/base';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: $color-white;
}

.list {
  flex: 1;
  overflow: auto;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  font-size: 16px;
  font-style: italic;
  border-bottom: 2px solid $color-gray-5;
  color: $color-black;
  background-color: $color-white;  
  line-height: 22px;

  &:hover {
    background-color: $color-gray-5;
  }
}

.speciesActive {
  @extend .listItem;
  padding: 18px 24px;
  background-color: $color-white;
  color: $color-black;
  font-size: 20px;

  &:hover {
    background-color: $color-white;  
  }
}