@import '~styles/settings';
@import '~components/map/controls/styles.scss';

.distribution {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;

  & > div:first-child {
    border-right: 2px solid $color-border;
  }
}

.navigationBar {
  border: 1px solid $color-black;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% - #{$navigation-button-size} / 2 - 2px);
  top: calc(50% - 2 * #{$navigation-button-size});

  > *:not(:last-child) {
    border-bottom: none !important;
  }
  > *:last-child {
    border-top: none;
  }
}

.zoomButton {
  @extend .mapNavigationButton;
  border-bottom: 1px solid $color-gray-1 !important;
}

.layerToggle {
  border: none;
  position: unset;
}

.futureScenariosTimeline {
  left: calc(50% + 1px);
}

:global {
  .mapCustomClass {
    .overlays {
      overflow: unset !important;
    }

  }
}
