@import '~styles/settings';

$button-size: 45px;
$sidebar-size: 330px;

.c-species {
  position: relative;

  .content {
    height: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;

    .species-detail {
      padding: 70px 90px;
      overflow-y: auto;
      width: 100%;

      .species-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        height: $button-size;
      }

      // .species-source,
      .species-chart-title {
          color: $color-gray-3;
          font-size: 16px;
          font-family: $font-family-2;
          margin: 20px 0;

          a {
            text-decoration: underline;
          }
      }

      h1 {
        font-family: $font-family-2;
        font-size: 64px;
        font-style: italic;
        font-weight: bold;
        line-height: 84px;
      }

      h3 {
        font-size: $font-size-big;
      }

      .description {
        font-family: $font-family-2;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
      }
    }

    .species-navbar {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $button-size;
      }

      .nav-button {
        font-weight: bold;
        font-size: 24px;
        width: $button-size;
        color: $color-white;
        background-color: $color-orange;
        padding-bottom: 4px;

        &.disabled {
          color: rgba($color-white, 0.5);
        }
      }

      .nav-link {
        padding: 0 18px;
        background: $color-orange;
      }
    }
  }
}
