@import '~styles/settings';

.c-species {
  .content {
    position: relative;
    height: 100%;
    display: flex;

    .species-sidebar {
      height: 100%;
      background-color: $color-gray-1;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: pre-line;
        width: 100%;
        min-height: 220px;
        // height: 220px;
        // object-fit: cover;
        // object-position: top;
        color: $color-white;
      }
    }

    .species-detail {
      width: calc(100% - 330px);
      padding: 70px 90px;
      overflow-y: scroll;

      .species-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
      }

      .species-navbar {
        position: absolute;
        display: flex;
        top: 0;
        left: 285px; // 330 (sidebar) - 45px (buttons)

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
        }

        .nav-button {
          width: 45px;
          color: white;
          background-color: $color-gray-1;
        }

        .nav-link {
          padding: 0 18px;
          background: $color-orange;
        }
      }

      h1 {
        font-family: $font-family-2;
        font-size: 64px;
        font-style: italic;
        font-weight: bold;
        line-height: 84px;
      }

      h3 {
        font-size: 20px;
      }

      p {
        font-family: $font-family-2;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 70px;
      }
    }
  }
}
