@import '~styles/settings';

.wrapper {
  width: $flexboxgrid-max-width;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "empty-1 canada canada indonesia indonesia empty-2"
    "sweden sweden peru peru tanzania tanzania";

  & > div {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.shape {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.countriesModal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLink {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;

  &:hover .shape__no-hover {
    opacity: 0;
    pointer-events: all;
    transform: scale3d(0.8, 0.8, 1);
  }

  &:hover .shape__hover {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  .shape__hover {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s $ease-in-out-sine;
    transform: scale3d(0.8, 0.8, 1);
    transform-origin: center;
    height: 330px;
  }

  .shape__no-hover {
    opacity: 1;
    transition: all 0.25s $ease-in-out-sine;
    transform: scale3d(1, 1, 1);
    transform-origin: center;
    height: 270px;
  }
}
