@import '~styles/settings';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 446px;
}

.header {
  background-color: $color-gray-1;
  border-bottom: 1px solid $color-gray-3;
  display: flex;
  height: 45px;
  width: 100%;

  & > * {
    display: flex;
    align-items: center;
  }
}

.title {
  color: $color-white;
  flex: 1;
  font-size: $font-size-big;
  padding: 0 24px;
}

.tab {
  color: $color-gray-4;
  cursor: pointer;
  border-left: 1px solid $color-gray-3;
  font-size: $font-size-small;
  padding: 0 12px;
}

.activeTab {
  background-color: $color-gray-2;
  color: $color-white;
}

.timeline {
  background-color: $color-gray-1;
  border-bottom: 1px solid $color-gray-3;
  display: flex;
  height: 45px;
  width: 100%;

  & > *:first-child {
    flex: 1;
  }
}

.speedButton {
  padding: 0 24px;
  color: $color-white;
  font-size: $font-size-small;
}


.legendItemTimeStep {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  & > *:first-child {
    width: 45px;
  }

  & > *:last-child {
    flex: 1;
    border-left: 1px solid $color-gray-3;

    & > *:first-child {
      width: 75%;
    }
  }
}