@import '~styles/settings';

.container {
  height: $c-header-height;
  border-bottom: 2px solid #E6E6E6;
  padding-right: $c-header-padding;
  position: relative;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  height: 100%;
}

.dropdownLarge {
  @extend .dropdown;
  min-width: 370px;

  button {
    margin: auto;
  }
}

.leftAlign {
  height: 100%;
  display: flex;
  align-items: center;
}
