@import '~styles/settings';
@import '~styles/mixins';

.c-app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include theme-background-color;
  @include theme-fonts;

  .content {
    height: 100%;
    display: flex;
  }
}
